page-home {
    h3 {
        text-align: center;
        margin-top: 40px !important;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

}
